<h3>MainLayout</h3>

@code {
	<MudThemeProvider>
    <MudDialogProvider>
        <MudSnackbarProvider>
            <div class="main-layout">
                @Body
            </div>
        </MudSnackbarProvider>
    </MudDialogProvider>
</MudThemeProvider>

}
